body{
	background-image : url("68a090d8da7c650c3f850aae1d3e4f2a.jpg");
      background-repeat: no-repeat;
       background-attachment: fixed;
  background-size: cover;
}
h1{
	text-align : center;
	margin-top: 80px;
	font-size: 70px;
	color:#4A90E2; 
font-family: 'PinyonScriptRegular';
   font-weight: normal;
   font-style: normal; 
	margin-bottom: 10px;
}
h2{
	text-align : center; 
	font-size: 50px;
	font-style: italic;
	color: #4A90E2; 
	font-family: 'PinyonScriptRegular';
   font-weight: normal;
   font-style: normal; 
	margin-top: 10px;
}
h3{
      texte-align : center;
      font-size : 15px;
      font-family: 'SofiaRegular';
      font-weight: normal;
      font-style: italic;
      font-color : #4A90E2 ;
}
p{
	margin-left: 40px;
	margin-right: 40px;
	color: #000033;
	font-family: 'PinyonScriptRegular';
   font-weight: normal;
   font-style: normal; 
	font-size: 30px;
}	
a{ 
text-decoration : none; 
}

a:visited{
	color : #4d4dff;
}
a:hover{
	color : #4A90E2;
}
.tourne:hover{
	transform : rotate(180deg);
	letter-spacing: 10px;
}
.vert:hover{
	color : Sienna;
	font-size :30px; 
}
.trois:hover{
	text-shadow : 3px 2px Sienna;
}
.barre{
	color: PaleTurquoise
	
}
.quatre:hover{
	color: Sienna;
}

.galerie-sommaire {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;  
  margin: 40px auto;
  padding: 20px;
}

.carte {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.carte img {
  width: 100%;
  height: 250px;    
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.carte img:hover {
  transform: scale(1.05);
}