body{
	background-image : url("68a090d8da7c650c3f850aae1d3e4f2a.jpg");
      background-repeat: no-repeat;
       background-attachment: fixed;
  background-size: cover;
}
.ligne {
      width: 250px;
      height: 4px;
      background-color: #222;
      margin: 20px auto 0;
      border-radius; 2px;
      }
h1{  
    color : #222;
      text-align : center;
	margin-top: 80px;
	font-size: 50px;
font-family: Georgia, serif;
   font-weight: normal;
   font-style: normal; 
	margin-bottom: 10px;
}
h2{
      font-style : italic; 
        text-align : center;
	margin-top: 80px;
	font-size: 30px;
      font-family: 'SofiaRegular';
   font-weight: normal;
   font-style: normal; 
	margin-bottom: 10px;
color : #3A3A3A;    
}
h3{
      texte-align : center;
      font-size : 15px;
      font-family: 'SofiaRegular';
      font-weight: normal;
      font-style: italic;
      color : #222;
      
}
h3:first-letter{
      font-size: 3em;
      float: left;
      margin-right: 8px;
      line-height: 0.9;
      color: #222;
      }
h4 { 
      texte-align : center;
      texte-size : 30px;
      font-family : 'SofiaRegular';
      font-weight : normal ; 
      font-style : italic;
      }

p{
	margin-left: 40px;
	margin-right: 40px;
	color: #222;
	font-family: 'SofiaRegular';
   font-weight: normal;
   font-style: normal; 
	font-size: 20px;
}	
.image{
      text-align: center;
      margin : 40px 0; 
      }
.image img{
        width: 300px;
    height: auto;
    border: 3px solid #3A75C4;
    border-radius: 10px;#222; 
      border-radius : 15px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.15);
      }
.texte-container{
      max-width: 750px; 
      margin: 40px auto; 
      background: #e6f2ff;
      padding: 40px 50px;
      border-radius:12px; 
      box-shadow: O 6px 20px rgba(0,0,0,0.1);
      }
.blockquote{
      border-left : 4px solid #222;
      padding-left: 15px;
      margin : 30px;
      font-size: italic;
      color: #444;
      font-size: 20px;
      }
.bloc {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.collage-carnet {
    position: relative;
    width: 700px;
    margin: 30px auto;
    padding: 60px 0;
}
      .collage-carnet .principal {
    width: 380px;
    border: 5px solid #1A3D5C;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}
      .detail {
    position: absolute;
    width: 130px;
    border: 3px solid #3A75C4;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background: white;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.detail:hover {
    transform: scale(1.2) rotate(0deg);
}
      .img1 {
    top: 0;
    left: 20px;
    transform: rotate(-10deg);
}

.img2 {
    top: 20px;
    right: 30px;
    transform: rotate(8deg);
}

.img3 {
    bottom: 15px;
    left: 40px;
    transform: rotate(-14deg);
}

.img4 {
    bottom: 35px;
    right: 60px;
    transform: rotate(12deg);
}